/* Operations */

.title_width {
    max-width: 150px;
    width: 150px;
}

.customSwalBtn {
    border-radius: 0.75rem;
}
.operation_width {
    width: 45rem;
}

/* BurgerMenu */
.burger {
    top: 1.5rem;
    right: 2rem;
}
.close_nav{
    right: 3.5rem;
    top: 1.5rem;
    /* top-6 right-14 */
}
.bg_burgerMenu {
    font-size: 1.4rem;
    background-color: #0D4367;
    border-color: #0D4367;
    border-style: solid;
    color: whitesmoke;
}
.bg_burgerMenu:hover {
    background-color: #0e4a72;
    border-color: #0e4a72;
}
.logoutbutton {
    cursor: pointer;
    background-color: #2978AC;
    border-color: #2978AC;
    border-radius: 0.25rem;
    border-style: solid;
    color: white;
}
.logoutbutton:hover {
    background-color: #BBE1FA;
    border-color: #BBE1FA;
    color: black;
}
.link_burger:hover {
    color: #BBE1FA;
}


/* Responsive  */
@media (max-width: 390px) {
    /* Operation */
    .title_width {
        max-width: 70px;
        width: 70px;
    }
    .operation_width {
        width: 20rem;
    }
    /* BurgerMenu */
    .burger {
        position: fixed;
        right: 1rem;
        /* right: 1rem; */
        top: 2rem;
    }
    .bg_svg{
        background-color: #02162C;
        border-radius: 0.5rem;
    }
    .close_nav{
        right: 2rem;
        top: 2rem;
        /* top-6 right-14 */
    }

    
}