/* LoginPage && RegisterPage */
.form_button {
    background-color: #16669b;
    border-color: #0D4367;
    border-style: solid;
    color: whitesmoke;
}
.form_button:hover {
    background-color: #BBE1FA;   
    border-color: #BBE1FA;
    color: black;
}
.link_publicpage {
    color: #BBE1FA;
}
.input_publicpage:focus-visible {
    outline: 4px solid #BBE1FA;
}
/* LoginPage */

.bg_loginpage {
    background: linear-gradient(90deg, #06273D 40%, #02162C 100%);
}

.form_loginpage {
    background-color: #0D4367;
}    
.login_border_color {
    border-color: #2978AC;
}

/* RegisterPage */

.bg_register {
    background: linear-gradient(180deg, #06273D 0%, #02162C 100%);
}
.form_registerpage {
    background-color: #0D4367;
}
/* WelcomePage */

.bg_welcome{
    background: linear-gradient(0deg, #06273D 0%, #02162C 100%);
}
.button_welcome {
    background-color: #16669b;
    border-color: #0D4367;
    border-style: solid;
    cursor: pointer;
    color: whitesmoke;
}
.button_welcome:hover {
    background-color: #BBE1FA;   
    border-color: #BBE1FA;
    color: black;
    height: 2.75rem;
    width: 9.5rem;
}
.Link_welcome {    
    color: whitesmoke;
}
.Link_welcome:hover {
    color: black;
}


/* OperationPage */
.bg_operationPage {
    background: linear-gradient(45deg, #06273D 30%, #02162C 100%);
}
.operation_width {
    width: 45rem;
}
.operation_h4 {
    font-size: 30px;
}
.bg_operationList {
    background-color: #0D4367;
    border-color: #0D4367;
}
.button_operationPage  {
    background-color: #0D4367;
    border-color: #0D4367;
    border-style: solid;
    color: whitesmoke;
}
.button_operationPage:hover {
    background-color: #BBE1FA;
    border-color: #BBE1FA;
    color: black;
    font-size: 1.35rem;
    line-height: 1.55rem;
}

/* HomePage */
.bg_homePage {
    background: linear-gradient(230deg, #06273D 30%, #02162C 100%);
}
.border_total {
    border-color: #0D4367;
    background-color: #0D4367;
    height: 3.75rem;
}

.button_home  {
    background-color: #0D4367;
    border-color: #0D4367;
    border-style: solid;
    color: whitesmoke;
}
.button_home:hover {
    background-color: #BBE1FA;
    border-color: #BBE1FA;
    color: black;
    font-size: 1.35rem;
    line-height: 1.55rem;
}
.bg-tenOperations {
    background-color: #0D4367;
}
/* Swal */


.input_swal {
    background-color: #1f1f1f;
    border-radius: 0.5rem;
}
.customSwalBtn {
    border-radius: 0.75rem;
}
#swal-input1 {
    margin-left: 70px;
}
#swal-input2::-webkit-inner-spin-button,
#swal-input2::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#swal-input2[type=number] {
    -moz-appearance: none;
}